[submodule "AutoSweep_MaskRCNN"]
	path = AutoSweep_MaskRCNN
	url = https://github.com/ChenFengYe/AutoSweep_MaskRCNN
[submodule "AutoSweep_DCN"]
	path = AutoSweep_DCN
	url = https://github.com/ChenFengYe/AutoSweep_DCN
[submodule "AutoSweep_GeonetEnd2End"]
	path = AutoSweep_GeonetEnd2End
	url = https://github.com/ChenFengYe/AutoSweep_GeonetEnd2End
[submodule "AutoSweep_OneKeyGeonet"]
	path = AutoSweep_OneKeyGeonet
	url = https://github.com/ChenFengYe/AutoSweep_OneKeyGeonet
[submodule "AutoSweep_FCIS"]
	path = AutoSweep_FCIS
	url = https://github.com/ChenFengYe/AutoSweep_FCIS
[submodule "AutoSweep_AxisClassifier"]
	path = AutoSweep_AxisClassifier
	url = https://github.com/ChenFengYe/AutoSweep_AxisClassifier
[submodule "AutoSweep_CircleReconstruction"]
	path = AutoSweep_CircleReconstruction
	url = https://github.com/ChenFengYe/AutoSweep_CircleReconstruction
[submodule "AutoSweepMatl-Deeplab"]
	path = AutoSweepMatl-Deeplab
	url = https://github.com/ChenFengYe/AutoSweepMatl-Deeplab
[submodule "AutoSweepMatl-FasterRCNN"]
	path = AutoSweepMatl-FasterRCNN
	url = https://github.com/ChenFengYe/AutoSweepMatl-FasterRCNN
[submodule "AutoSweep_AnnatationTool"]
	path = AutoSweep_AnnatationTool
	url = https://github.com/ChenFengYe/AutoSweep_AnnatationTool
[submodule "AutoSweepMatl-PointSetGeneration"]
	path = AutoSweepMatl-PointSetGeneration
	url = https://github.com/fanhqme/PointSetGeneration.git
[submodule "AutoSweepMatl-3D-R2N2"]
	path = AutoSweepMatl-3D-R2N2
	url = https://github.com/chrischoy/3D-R2N2.git
[submodule "AutoSweep_ObjectSnapping"]
	path = AutoSweep_ObjectSnapping
	url = https://github.com/ChenFengYe/AutoSweep_ObjectSnapping.git
[submodule "AutoSweep_Dataset"]
	path = AutoSweep_Dataset
	url = https://github.com/ChenFengYe/AutoSweep_Dataset.git
